env
Flask>=2.1.0
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
idna
importlib-metadata
itsdangerous
jax
Jinja2
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opt-einsum
outcome
packaging
pandas
Pillow
platformdirs
playsound
protobuf
pyasn1
pyasn1-modules
pycparser
pydub
pyOpenSSL
pyperclip
python-dateutil
pytz
requests
requests-oauthlib
rsa
scipy
selenium
six
sniffio
sortedcontainers
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
trio
trio-websocket
typing-extensions
urllib3
virtualenv
Werkzeug
wrapt
wsproto
zipp
